@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
  place-items: start !important;
}

.active {
  background-color: red;
}

form {
  text-align: left;
  color: #fff;
}

.label {
  color: #fff;
}

.site-name {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  padding-right: 2rem;
}

.blog-navbar {
  color: #fff;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.blog-navbar a {
  color: #fff
}



.title,
.subtitle {
  color: #fff;
}

.blog-post {
  margin: 0 0 30px;
  padding: 25px;
  text-align: left;
  max-width: 960px;
  width: 100%;
}

.blog-post ul {
  list-style-type: none;
  display: flex;
  justify-content:space-between;
  justify-items: left;
  padding-left: 0;
}

.blog-post ul li {

}

.post-info {
  font-size: 0.8rem;
  flex-flow: column wrap;
}



.comments {
  color: grey;
  font-size: 0.8rem;
}

.comments ul {
  list-style-type: none;
}

.comment-text {
  flex: 8;
  font-size: 1rem;
}

.comment-author {
  flex: 1;
}

.comment-date {
  flex: 1;
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 2rem;
  text-align: center;
  color: #fff;
  align-content: flex-start;
}

.App {
  display: flex;
  align-content: center;
  flex-flow: column wrap;
}

nav {
  margin-bottom: 3rem;
}


.comment-author {
  display: block;
  font-weight: bold;
}

.comment-date {
  display: block;
  font-style: italic;
  font-size: 0.8rem;
}

.comment {
  margin-bottom: 2rem;
}

.post-info {
  margin-top: 2rem;
}